<ng-container *ngIf="(machine$ | async) as machine">
  <div *ngIf="machine.error as error; else machineTemplate">
    <h1>Error - {{error.status}}</h1>
    <h2>{{error.message}}</h2>
  </div>

  <ng-template #machineTemplate>
    <div class="flex flex-wrap items-center">
      <div>
        <h1>{{machine.machine_name}} - Details</h1>
        <p>OEE: {{machine.average_oee | percent:'1.1-1'}}</p>
      </div>

      <button class="btn ms-auto bg-primary text-fg-primary" (click)="machineDetails && entryForm.open(machineDetails)">
        Add Entry +
      </button>
    </div>

    <dx-chart class="my-5" [dataSource]="(entries$ | async) ?? []">
      <dxo-argument-axis>
        <dxo-label format="shortDate"></dxo-label>
      </dxo-argument-axis>

      <dxi-value-axis [visualRange]="{
        startValue: 0,
        endValue: 1
      }" [maxValueMargin]="0.001">
        <dxo-label format="percent"></dxo-label>
      </dxi-value-axis>

      <dxo-common-series-settings type="spline" argumentField="created_at"
                                  argumentType="date"></dxo-common-series-settings>

      <dxi-series valueField="oee" name="oee"> </dxi-series>
      <dxi-series valueField="performance" name="performance"> </dxi-series>
      <dxi-series valueField="quality" name="quality"> </dxi-series>
      <dxi-series valueField="availability" name="availability"> </dxi-series>
    </dx-chart>

    <oee-entries-table [entries]="(entries$ | async) ?? []"></oee-entries-table>
    <oee-entry-form #entryForm (submitted)="getMachineById(machine?.id)"></oee-entry-form>
  </ng-template>
</ng-container>

<dx-popup [width]="500" [height]="300" [showCloseButton]="true" [hideOnOutsideClick]="true" #popup>
  <div *dxTemplate="let data of 'content'">
    <div class="flex flex-col items-center" [innerHTML]="aiAdvice">
    </div>
  </div>
  <div *dxTemplate="let data of 'title'">
    <h1>AI Advice</h1>
  </div>

  <button class="btn bg-primary text-fg-primary" (click)="popup.instance.hide()">Close</button>
</dx-popup>

<button title="Get AI advice"
        class="fixed  bottom-6 right-10 w-14 h-auto aspect-square rounded-full bg-primary hover:bg-primary-dark"
        [class.cursor-progress]="loadingAiAdvice"
        [disabled]="loadingAiAdvice"
        (click)="getAiAdvice()">
        <i class="fa-solid fa-robot text-3xl -mt-1"></i>
</button>
