:root {
  --main-bg: #ffffff;

  --default-bg: #f5f5f5;
  --default-fg: #000000;

  --primary-bg: #0091ca;
  --primary-fg: #ffffff;

}
.dark {
  --main-bg: #000000;

  --default-bg: #ffffff10;
  --default-fg: #eeeeee;

  --primary-bg: #0091ca;
  --primary-fg: #ffffff;

  --muted-fg: #aaaaaa;
}
