#wrapper {
  height: 100vh;
  @apply text-fg;

  background: fixed radial-gradient(700px circle at 10% 90%, #00ffaa1a, transparent),
    radial-gradient(800px circle at 90% 10%, #00c3ff1a, transparent)
      var(--main-bg);
}

a {
  color: currentColor;
}

input {
  color: currentColor;
  border-bottom: 1px solid currentColor;
  padding: 0.5rem 1rem;
}
