@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.default-btn {
  @extend .btn;
  background-color: var(--default-bg);
  color: var(--default-fg);
  border: 1px solid var(--default-fg);
}

.outline-btn {
  @extend .btn;
  color: currentColor;
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 0.5rem 1rem;
}

.box {
  @apply bg-bg px-6 py-4 rounded-xl flex flex-col items-center;
}

